################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockBuster/.vs/*
/BlockBuster/obj/Debug/*
*.sou
*.cache
*.vsidx
/BlockBuster/.vs/BlockBuster/config/applicationhost.config
/BlockBuster/.vs/BlockBuster/v17/.suo
/BlockBuster/BlockBuster/obj/Debug/BlockBuster.csproj.AssemblyReference.cache
/BlockBuster/BlockBuster/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BlockBuster/BlockBuster/bin
/BlockBuster/BlockBuster/obj/Debug
