################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockBuster/.vs/BlockBuster/FileContentIndex/78befa13-5df7-40cc-b9c7-30e52bec6e79.vsidx
