################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockBuster/.vs/*
/BlockBuster/obj/Debug/*
*.sou
*.cache
*.vsidx
